/* CSS PHẦN THONG TIN TRƯỜNG */
body{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

section{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.side-bar{
    width: 15%;
    background-color: #e5e5e5;
    position: relative;
    border-right: 1px black solid;
    border: 2px solid gray;
    margin-top: 0.3rem;

}
.main-content{
    width: 85%;
    background-color: #e5e5e5;
    border: 2px solid gray;
    margin-left: 0.3rem;
    padding-bottom: 2rem;
    margin-top: 0.3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.menu {
    position: relative;
}

.menu > li{
    
    background-color: #435c8c;
    list-style-type: none;
    display: inline-block;
    width: 100%;

}

.menu > li:first-child{
    padding: 0.5rem;

}

.menu > li > a{ 
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    display: inline-block;
    width: 100%;
}

.menu > li > span{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 0.5rem;
    display: inline-block;
    width: 100%;

}

.menu > li:hover{
    transition: background ease-in-out 0.3s;
    background-color: red;
}
.sub-menu{
    width: 100%;
    display: none;
}

.sub-menu > li{
    width: 100%;
    background-color: #78a3f1;
    list-style-type: none;
}

.sub-menu > li > a{
    display: inline-block;
    width: 100%;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem;
    font-size: 0.8rem;
}

.sub-menu > li:hover {
    /* transition: background ease-in-out 0.3s;
    background-color: rgb(249, 105, 105); */
    background-color: lightslategray;
}

.color-click{
    background-color: rgb(249, 105, 105) !important;
}

.block{
    display: block !important;
}

.thong-ke{
    margin-top: 0.5rem;
    width: 100%;
    border: 2px solid #000;
    border-right: 1px solid #000;
    border-radius: 5px;
}

.thong-ke th{
    background-color: #435c8c;
    width: 100%;
    padding: 0.5rem;
}

.thong-ke td{
    padding: 0.2rem;
}
/* ========= CSS PHẦN GIỚI THIỆU VỀ TRƯỜNG */
.heading{
    color: gray;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px lightgreen;
    padding: 10px;
}

ol, ul.sub-gioi-thieu{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.sub-gioi-thieu{
    list-style-type: disc; 

}

ul.sub-of-sub > li{
    list-style-type: circle; 

}

div.content-gioi-thieu{
    line-height: 1.6rem;
}

div.content-gioi-thieu > h4{
    text-transform: capitalize;
    text-align: center;
}

div.content-gioi-thieu p::first-letter{
    padding-left: 2rem;
}

div.content-gioi-thieu p:not(:first-child){
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.sub-gioi-thieu > li > a{
    text-decoration: none;
    color: rgb(17, 17, 206);
}

ol > li{
    font-weight: 700;
}

ol > li > ul{
    font-weight: 100;
}

ul.list-member{
    list-style-type: decimal;
    padding-left: 4rem;
}

.anh-minh-hoa{
    width: 30%;
    float: left;
    margin: 0.3rem;
}

.anh-minh-hoa > img{
    width: 100%;
}

.anh-to-van{
    width: 100%;
}

.anh-to-van > div{
    width: 100%;
    text-align: center;

}

.anh-to-van > div > p{
    text-align: center;

}

.anh-to-van > div > img{
    display: inline-block;
    width: 50%
    /* padding: 0.5rem 0.5rem 0 0.5rem; */
}

/* CSS phần các kế hoạch chuyên môn */

.box{
    background-color: darkgray;
    border: 1px solid #000;
    margin: 0.2rem;
}

.box .sub-picture{
    width:15%;
    padding: 0.3rem;
}

.box .short-content{
    width: 100%;
    padding: 0.3rem;
}

.box .sub-picture > img{
    display: inline-block;
    width: 100%;
    padding: 2px;
    border: 1px solid #000;
}

.short-content > h3{
    text-shadow: 2px 2px 3px rgb(239, 224, 144);

}

.short-content h3 > a{
    text-decoration: none;
    color: #000;
}
.sub-info div{
    font-size: 0.8rem;
    margin-top: 0.3rem;
}

.sub-info div:first-child{
    margin-top: 0;
}

.flex > p:first-child{
    margin-left: 0;
}

.flex > p{
    margin-top: 0.3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
