/* CSS PHẦN THONG TIN TRƯỜNG */
section{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.side-bar{
    width: 20%;
    background-color: #e5e5e5;
    position: relative;
    border-right: 1px black solid;
}

.main-content{
    width: 80%;
    background-color: #e5e5e5;
}

.menu {
    position: relative;

}

.menu > li{
    padding: 0.5rem;
    background-color: #435c8c;
    list-style-type: none;
    display: inline-block;
    width: 100%;

}

.menu > li > a{ 
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.menu > li > p{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
}

.menu > li:hover{
    transition: background ease-in-out 0.3s;
    background-color: red;
}
.sub-menu{
    position: relative;
    width: 100%;
    display: none;
    
}

.sub-menu > li{
    padding: 0.5rem;
    background-color: #78a3f1;
    list-style-type: none;
    margin-top: 0.3rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    margin-bottom: -0.5rem;
}

.sub-menu > li > a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem;
    font-size: 0.8rem;
}

.sub-menu > li:hover {
    transition: background ease-in-out 0.3s;
    background-color: rgb(249, 105, 105);
}
/* nên sửa thành click */
.block{
    display: block !important;
}

/* ========= CSS PHẦN GIỚI THIỆU VỀ TRƯỜNG */
.heading{
    color: gray;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px lightgreen;
}

.content, ol, ul.sub-gioi-thieu{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

ol > li > ul.sub-gioi-thieu > li{
    list-style-type: disc; 
}

ul > li > ul > li{
    list-style-type: circle ; 

}

div.content-gioi-thieu{
    line-height: 1.6rem;
}